{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="single-page-title">
    <div class="container text-center">
        <h2>{{ page.title }}</h2>
    </div>
</section>

<section class="ptb-40">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ content }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
