{% extends 'partials/base.html.twig' %}

{% block content %}
<section class="single-page-title">
    <div class="container text-center">
        <h2>Trang không tồn tại</h2>
    </div>
</section>

<section class="ptb-100">
    <div class="modular-row">
    	<div class="container">
			<div class="err-page">
				<div class="col-sm-6">
					<p style="font-size: 60px"><b>Oops!</b></p>
					<p>Trang bạn đang tìm kiếm không tồn tại.</p>
					<p>Đừng lo lắng hãy ấn vào nút bên dưới để về trang chủ.</p>
					<a class="read-more" href="{{ base_url_absolute }}">
						Trang Chủ
					</a>
				</div>
				<div class="col-sm-6">
					<img src="{{ base_url_absolute }}/user/themes/x-corporation/img/404.gif" />
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
