{% do assets.addCss('theme://css/discrible.css') %} 

    <div class="container discrible-container">        
        <div class="row discrible">
        {% for discrible in page.header.discribles %}
               <div class="col-sm-4">
                        <div class="image">
                            {{ page.media.images[discrible.thumbnail].html() }}
                        </div>
                        <div class='content'>
                            <div class="title"> 
                                {{ discrible.text|markdown }}
                            </div>
                            <div class="info">
                                {{ discrible.content|markdown }}
                            </div>
                        </div>
                </div>
        {% endfor %}
        </div>
    </div>

  