<div class="modular-row">
    <div class="history" style="background-image: url('{{ page.media[header.background].url }}');">    
        <div class="container">         
            <h2 class="history-title">
                {{ header.title|markdown }}
            </h2>
            <div class="history-content">
                {{ content|markdown }}
            </div>
        </div>
    </div>
</div>
