<div class="modular-row">
    <div class="container">  
        <h2 style="text-align: {{ header.section_title_align }}; margin: {{ header.margin }}"> {{ header.section_title|markdown }} </h2>
    </div>
</div>